<div class="col-xs-12 col-md-12">

  <form [formGroup]="addNewPersonForm">

    <div class="form-group">
      <label for="first-name">First name</label>
      <input class="form-control"
             type="text"
             formControlName="firstName">
    </div>
    <div class="alert alert-danger"
         *ngIf="addNewPersonForm.get('firstName').hasError('required') && addNewPersonForm.get('firstName').dirty">
      Oops, please provide a first name!
    </div>

    <div class="form-group">
      <label for="last-name">Last name</label>
      <input class="form-control"
             type="text"
             formControlName="lastName">
    </div>
    <div class="alert alert-danger"
         *ngIf="addNewPersonForm.get('lastName').hasError('required') && addNewPersonForm.get('lastName').dirty">
      Oops, please provide a last name!
    </div>

    <div class="form-group">
      <label for="fav">Fav</label>
      <input class="form-control"
             type="checkbox"
             formControlName="fav">
    </div>

    <div class="form-group">
      <label for="gender">Gender</label>
      <select class="form-control"
              formControlName="gender">
        <option *ngFor="let item of genders|enumToArray"
                [value]="item.key">
          {{item.value}}
        </option>
      </select>
    </div>

    <button type="submit"
            [disabled]="addNewPersonForm.invalid"
            class="btn btn-success"
            (click)="onSubmit()">
      Submit
    </button>
  </form>
  <p>Form value: {{ addNewPersonForm.value | json }}</p>
  <p>Model value: {{ model | json }}</p>

</div>
